<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/src/main/resources/static/css/index.css">
    <title>Índice de Vistas</title>
</head>
<body>
    <h1>Índice de Vistas</h1>
    <h2>Genero</h2>
    <ul>
        <li><a href="/genero/listar">Listar Generos</a></li>
        <li><a href="/genero/form">Agregar Nuevo Genero</a></li>
        <!-- Agrega más enlaces según sea necesario -->
    </ul>
    <h2>Disquera</h2>
    <ul>
        <li><a href="/disquera/listar">Listar Disqueras</a></li>
        <li><a href="/disquera/form">Agregar Nueva Disquera</a></li>
        <!-- Agrega más enlaces según sea necesario -->
    </ul>
    <!-- Agrega más secciones para otras entidades y controladores -->
</body>
</html>
